body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
}

form {
    margin: 20px;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 15px;
    background-color: green;
    color: white;
    border: none;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 60%;
    background: white;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background-color: #007bff;
    color: white;
}